* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    /* font-family: 'Courier New', Courier, monospace; */
    background-color: #f2f7f8;
}
.btn-fix{
    display: flex;
    gap:10px;
}
.btn1{
  font-size: 1rem;
  border:1px solid black ;
  color:black;
  padding:10px 15px;
  border-radius: 10px;
}
.btn2{
  font-size: 1rem;
  border:1px solid black ;
  color:white;
  background-color: black;
  padding:10px 15px;
  border-radius: 10px;
}
/* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 90px;
    background-color: white;
    position: fixed;
    width: 100%;
} */

/* nav img {
    width: 160px;
}

.piggy-nav {
    display: flex;
    gap: 20px;
    align-items: center;

}

.piggy-nav-links {
    display: flex;
    gap: 20px;

}

.piggy-nav-links a {
    text-decoration: none;
    color: #647d8e;
}

.piggy-nav-buttons button {
    padding: 15px 15px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;

}

.piggy-nav-buttons .btn2 {
    color: white;
    background-color: black;
} */
 .btn{
    font-size: 1rem;
 }

.head {
    padding: 170px 90px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* align-items: center; */

    /* align-items: center; */
    /* position: relative; */
}

.head-flex {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    /* align-items: center; */
    /* height:100vh */
}

.head-flex h1 {
    font-size: 2.8rem;
    width: 100%;
    max-width: 400px;
    text-align: start;
}

.head-flex p {
    width: 100%;
    max-width: 320px;
    font-size: 1.2rem;
    line-height: 30px;
}

.head-img {
    position: relative;
    z-index: -5;
}

.head img {
    width: 100%;
    max-width: 450px;

    position: relative;
    animation: dance 3s ease infinite;
    animation-direction: alternate-reverse;
}

@keyframes dance {
    from {
        transform: translate(0, 50px);

    }

    to {
        transform: translatey(0px)
    }

    /* 100% {
        transform: translate(0, 0);
    } */

}

.head-flex .btn3 {
    width: 100%;
    max-width: 320px;
    border-radius: 25px;
    padding: 15px 10px;
    border: 1px solid #0089ff;
    background-color: #0089ff;
    color: white;
    /* font-size: 1rem; */
}

.head-flex .btn3:hover {
    background-color: black;
    border: 1px solid black;
}

.inner-button {
    display: flex;
    gap: 10px;
    width:100%;

}

.inner-button button {
    border-radius: 10px;
    padding: 15px 15px;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: 1px solid black;
    width: 100%;
    max-width: 157px;
}

.inner-button button:hover {
    animation: move 1s ease;
}

@keyframes move {
    50% {
        transform: translate(0, -10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.sec1 img {
    width: 50%;
    max-width: 200px;
    position: absolute;

}

.img1 {
    /* position: absolute; */
    top: 54%;
    right: -15%;
    width: 50%;
    max-width: 200%;
}

.img2 {
    bottom: -5%;
    right: -1%;
    width:50%;
    max-width: 200px;
}

.img3 {
    top: 48%;
    left: -15%;
    width:50%;
    max-width: 180px !important;
}

.img4 {
    top: 15%;
    left: -15%;
    width:50%;
    max-width: 200px;

}

.img5 {
    top: 9%;
    right: -15%;
    width:50%;
    max-width: 200px;
}

.img6 {
    top: 70%;
    left: -15%;
    width: 100%;
    max-width: 180px !important;
}

.sect1 {
    display: flex;
    gap: 20px;
    padding: 200px 90px;
    /* height: 70vh; */
    align-items: center;
}

.sect1 img {
    width: 100%;
    max-width: 100px;
}

.sect1 div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;

}
.sect1 h1, .sect1 h3{
    font-size: 1.5rem;
}
.sect1 p{
    font-size: 1.2rem;
}

.sect2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    /* height: 100vh; */
    /* margin:500px 0; */
}

.sect2 h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.sect2 p {
    font-size: 1.5rem;
}

.box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /* margin: 100px 0px; */
    /* object-fit: contain; */

}

.box1 {
    display: grid;
    background-color: white;
    padding: 20px 10px 0 20px;
    gap: 20px;

    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

.box2 {
    display: grid;
    background-color: white;
    padding: 20px 10px 0 20px;
    gap: 20px;
    object-fit: cover;

    border-radius: 10px;
    overflow: hidden;
}

.box3 {
    display: grid;
    background-color: white;
    padding: 20px 10px 0 20px;
    gap: 20px;
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
}

.box4 {
    display: grid;
    background-color: white;
    padding: 20px 10px 0 20px;
    gap: 20px;
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
}

.box5 {
    display: grid;
    background-color: white;
    padding: 20px 10px 0 20px;
    gap: 20px;
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
}

.box6 {
    display: grid;
    background-color: white;
    padding: 20px 10px 0 20px;
    gap: 20px;
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
}


.box5:hover h1,
.box5:hover p {
    color: white;
}

.box6:hover h1,
.box6:hover p {
    color: white;
}

.box4:hover h1,
.box4:hover p {
    color: white;
}

.box3:hover h1,
.box3:hover p {
    color: white;
}

.box1:hover h1,
.box1:hover p {
    color: white;
}

.box1:hover {
    background-color: #003399;
}

.blue {
    color: #003399;
}

.light-blue {
    color: #3296ff;

}

.box2:hover {
    background-color: #3296ff;
}

.box2:hover h1,
.box2:hover p {
    color: white;
}

.green {
    color: #069b40;
}

.box3:hover {
    background-color: #069b40;
    color: white;
}

.pink {
    color: #e5288e;
}

.box4:hover {
    background-color: #e5288e;
    color: white;
}

.orange {
    color: #ff783c;
}

.box6:hover {
    background-color: #ff783c;
    color: white;
}

.box5:hover {
    background-color: #122231;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.flex img {
    width: 100%;
    max-width: 200px;
    /* opacity: 0; */
    transition: all 0.5s ease;
    transform: translate(200px, 200px);

}

.box1:hover img,
.box2:hover img,
.box3:hover img,
.box4:hover img,
.box5:hover img,
.box6:hover img {
    /* opacity: 1; */
    /* animation: show 1s ease-in; */
    transform: translate(0px, 0px);

}
iframe{
    width:100%;
}

.box-grid .pip {
    font-size: 1.3rem;
    width: 100%;
    max-width: 290px;
    text-align: start;
}

/* @keyframes show {
  50%{
} */


.sect3 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 90px 90px 20px;

    /* margin-top:400px; */
    /* height: 100vh; */

}

.sect3-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 2rem;

}

.sect3-head p {
    font-size: 1.4rem;
}

.sect3-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #7614e4;
    border-radius: 20px;
    gap: 20px;
    color: white;
    /* padding:  0,80px; */


}

.sect3-texts {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0px;
    width:100%;


}

.sect3-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 150px;
    padding-bottom: 50px;

}

.sect3-desc .maxp {
    width:100%;
    max-width: 300px;
    text-align: start;
    font-size: 1rem;
    line-height: 28px;
    font-weight: 400;
}
.sect3-desc h1{
    font-size: 2rem;
}

.sect3-desc div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    
}

.sect3-title {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    /* align-items: center; */
}

.sect3-content img {
    width:100%;
    max-width: 300px;
}

.sect3-content h1 {
    /* width:600px; */
    /* font-size: 2.5rem; */
}

.sect4 .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 2rem;
    width: 100%;
}

.sect4 .headies {
    width:100%;
    max-width: 950px;
    font-size: 1.5rem;
    text-align: center;
}


.sect5-flex {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    width:100%;

}

.sect5-flex img {
    width: 100%;
    max-width: 400px;
}

.sect5 {
    padding: 10px 90px;
    width:100%;
}

.btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.5rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.btn div {
    display: flex;
    gap: 20px;
    width:100%;
    
}
.btn div
.btn button {
    padding: 10px 15px;
    border-radius: 10px;
    /* background-color: none; */
    border: 1px solid black;
    font-size: 0.8rem;
    width:100%;
}


footer {
    display: flex;

    flex-direction: column;
    gap: 170px;
    padding: 20px 90px;
    width:100%;

}

.foot-img {
    display: flex;
    justify-content: space-between;
    object-fit: cover;
    align-items: center;
    width:100%;
    
}
center h1{

}

/* .footer-wrap{
    display: flex;
    justify-content: space-between;
    gap:20px;
   }  */
.footer-end {
    display: flex;
    justify-content: space-between;
    width:100%;
}

.end-img {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.end-img div {
    display: flex;
    gap: 20px;
}

.last {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.9rem;
    line-height: 15px;
}

.last-last {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.last-boss {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.last p {
    color: #5c5d7a;
    width:100%;
}

.add {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    font-size: 0.9rem;
    width:100%;
}

hr {
    margin: 20px 90px;
}

.end {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width:100%;
}

.final {

    margin: 20px 90px;
    font-size: 0.9rem;
     width: 100%;
    max-width: 790px;
    color: #5c5d7a;
    line-height: 20px;
}

center h1 {
    font-size: 2rem;
}

.finale {

    margin: 20px 90px;
    font-size: 0.9rem;
    color: #1f56a4;
    width:100%;
}

@media screen and (max-width:1024px) {

    .head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .head-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;


    }

    .head-flex .btn3 {
        width:300px;
        /* font-size: 1.1rem; */
        /* text-align: center; */
    }

    .head-flex h1 {
        /* font-size: 2.5rem; */
        text-align: center;
        /* max-width: 400px; */
    }

    .head-flex p {
        max-width: 500px;
        text-align: center;
    }
    .sect2 h1{
     text-align: center;
    }

    .inner-button button {
        padding: 15px 15px;
    }

    .box-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
.sect4 .headies{
    width:830px;
}

}

@media screen and (max-width:769px) {
    .sect2 h1 {
        font-size: 3rem;
        text-align: center;
    }
    

    .sect2 p {
        font-size: 1.3rem;
        text-align: center;
    }

    .sect3-head h1 {
        font-size: 3rem;
    }

    .sect3-head p {
        font-size: 1.3rem;
    }

    .sect3-texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .sect3-desc {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

   .inner-button {
    display: flex
;
    gap: 10px;
    width: 100%;
    max-width: 314px;
}

    .sect3-desc .maxp {
        text-align: center;
        width: 500px;
        font-size: 1.3rem;
    }

    .sect3-title p {
        font-size: 1.3rem;
    }

    .sect4 .head h1 {
        font-size: 3rem;
        width:600px
    }
    .sect4 .headies{
        width:600px;
        font-size: 1.6rem;
    }

    .sect5-flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .btn div {
        display: flex;
        justify-content: center;
    }

    .footer-end {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .footer-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .foot-img {

    }
    .last-last{
        justify-content: flex-start;
        width:40%;
    }
    .add{
        align-items: flex-start;
    }
    .final{
        width:607px;
        font-size: 0.8rem;
    }
    .finale{
        font-size: 0.8rem;
    }
    .btn button{
        padding: 15px 15px;
        border-radius: 15px;
    }
    .sect1 {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 20px;
}


}

@media screen and (max-width:430px){
   .sect3 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 90px 50px 20px;

    

}
.final{
    width:100%;
    max-width: 260px;

    /* font-size: 1rem; */
}

.sect3-head h1{
    font-size: 2rem;
}
.sect3-head p {
        font-size: 1.5rem;
        text-align: center;
    }
    .sect4 .head h1 {
        font-size: 2rem;
        width: 100%;
    }
    .sect4 .headies {
        width: 100%;
        font-size: 1.1rem;
    }
    .btn button {
        padding: 10px 12px;
        border-radius: 10px;
        width: 100%;
        font-size: 0.7rem;
    }
    hr {
    margin: 20px 90px;
    /* width: 100%; */
}
.head-flex p{
font-size: 1rem;
}

.finale {
        font-size: 0.7rem;
    }
    .last-last {
        justify-content: flex-start;
        width: 83%;
    }
    .sect1 {
    display: flex
;
    flex-direction: column;
    gap: 20px;
    padding: 200px 90px;
    align-items: center;
    text-align: center;
}
.box-grid{
    padding:0 15px;
}
}

@media screen and (max-width: 323px) {
    .sect3 {
        display: flex
;
        flex-direction: column;
        gap: 50px;
        padding: 90px 12px 20px;
    }
        .sect3-head h1 {
        font-size: 1.9rem;
    }
    .sect3-head p {
        font-size: 1.2rem;
        text-align: center;
    }
    .sect4 .head h1 {
        font-size: 1.3rem;
        width: 100%;
    }
    .sect4 .headies {
        width: 100%;
        font-size: 1rem;
    }
    .btn h2{
        font-size: 1rem;
    }
    .final {
        width: 100%;
        max-width: 146px;
    
    }
        .finale {
        font-size: 0.4rem;
    }
}



